/* .debug *, .debug {
      outline: 1px solid gold;
    } */

* {
  margin: 0;
  padding: 0;
  font-style: '微軟正黑體';
}

/* 背景顏色 */
body {
  background: #dddddd;
}
    
h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 35px;
}

h2 {
  font-size: 20px;
  text-align: left;
  font-weight: normal;
  margin-bottom: 20px;
}

p, .radio {
  font-size: 14px;
  padding: 5px 0;
}

/* * 必填 */
.mark_p {
  color: red;   
}

.form_block_top {
  margin-bottom: 50px;
}

.form_block {
  margin-bottom: 50px;
}

.button {
  width: 92px;
  height: 40px;
  border-radius: 3px;
  background-color: #fad312;
  border: none;
  font-size: 15px;
  margin: 10px 0 20px 0;
}

input {
  border: solid 1px #d0d0d0;

}

/* 改變預設文字的大小 */
::placeholder {
  font-size: 0.7rem;
  color: #afafaf;
}  

.check_item::after {
  content:attr(check_symbol);
  color: red;
}

.other > h2 {
  margin: 0;
}

.other > p {
  padding: 12px 0 24px 0;
}
      
footer {
  width:100%;
  background-color:#000000;
  color:#999999;  
  text-align:center;
  line-height: 60px;
}
